body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
}
.game-container {
    text-align: center;
}
canvas {
    border: 1px solid black;
    display: block;
    margin-bottom: 10px;
}
.game-info {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
}
        